<h1>Editing raid</h1>

<% form_for(@raid) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :instance_id %><br />
    <%= f.text_field :instance_id %>
  </p>
  <p>
    <%= f.label :raid_time %><br />
    <%= f.datetime_select :raid_time %>
  </p>
  <p>
    <%= f.label :raid_end_time %><br />
    <%= f.datetime_select :raid_end_time %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :searchable %><br />
    <%= f.check_box :searchable %>
  </p>
  <p>
    <%= f.label :protected %><br />
    <%= f.check_box :protected %>
  </p>
  <p>
    <%= f.label :creator_id %><br />
    <%= f.text_field :creator_id %>
  </p>
  <p>
    <%= f.label :min_gear_level %><br />
    <%= f.text_field :min_gear_level %>
  </p>
  <p>
    <%= f.label :tanks %><br />
    <%= f.text_field :tanks %>
  </p>
  <p>
    <%= f.label :heals %><br />
    <%= f.text_field :heals %>
  </p>
  <p>
    <%= f.label :dps %><br />
    <%= f.text_field :dps %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @raid %> |
<%= link_to 'Back', raids_path %>