<h1>New raid</h1>

<% form_for(@raid) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :realm_id %><br />
    <%= f.select :realm_id, Realm.find(:all).collect {|i| [i.name, i.id] }%>
  </p>
  <p>
    <%= f.label :instance_id %><br />
    <%= f.select :instance_id, Instance.find(:all).collect {|i| [i.name, i.id] }%>
  </p>
  <p>
    <%= f.label :raid_time, "Raid Start Date and Time" %><br />
    <%= calendar_date_select_tag :raid_raid_time, nil, :time => true, :name => "raid[raid_time]" %>
  </p>
  <p>
    <%= f.label :raid_end_time %><br />
    <%= f.datetime_select :raid_end_time %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :searchable %><br />
    <%= f.check_box :searchable %>
  </p>
  <p>
    <%= f.label :protected %><br />
    <%= f.check_box :protected %>
  </p>
  <p>
    <%= f.label :creator_id %><br />
    <%= f.text_field :creator_id %>
  </p>
  <p>
    <%= f.label :min_gear_level %><br />
    <%= f.text_field :min_gear_level %>
  </p>
  <p>
    <%= f.label :tanks %><br />
    <%= f.text_field :tanks %>
  </p>
  <p>
    <%= f.label :heals %><br />
    <%= f.text_field :heals %>
  </p>
  <p>
    <%= f.label :dps %><br />
    <%= f.text_field :dps %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', raids_path %>