<p><%= @raid.title %></p>

<p><%= @raid.instance.name %></p>

<p>
  <b>Instance:</b>
  <%=h @raid.instance_id %>
</p>

<p>
  <b>Raid time:</b>
  <%=h @raid.raid_time.strftime("%m/%d/%Y %I:%M %p") %>
</p>

<p>
  <b>Raid end time:</b>
  <%=h @raid.raid_end_time %>
</p>

<p>
  <b>Code:</b>
  <%=h @raid.code %>
</p>

<p>
  <b>Password:</b>
  <%=h @raid.password %>
</p>

<p>
  <b>Searchable:</b>
  <%=h @raid.searchable %>
</p>

<p>
  <b>Protected:</b>
  <%=h @raid.protected %>
</p>

<p>
  <b>Creator:</b>
  <%=h @raid.creator_id %>
</p>

<p>
  <b>Min gear level:</b>
  <%=h @raid.min_gear_level %>
</p>

<p>
  <b>Tanks:</b>
  <%=h @raid.tanks %>
</p>

<p>
  <b>Heals:</b>
  <%=h @raid.heals %>
</p>

<p>
  <b>Dps:</b>
  <%=h @raid.dps %>
</p>

<p>
  <b>Members:</b>
  
  <% @raid.sign_ups.each do |sign_up| %>
    <%= sign_up.character.name %> - 
    <%= sign_up.role.name %>
  <% end %>
</p>
    

<%= link_to 'Join Raid', new_raid_sign_up_path(@raid) %>
<%= link_to 'Edit Raid', edit_raid_path(@raid) %> |
<%= link_to 'Back', raids_path %>