<h1>Listing expansions</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @expansions.each do |expansion| %>
  <tr>
    <td><%=h expansion.name %></td>
    <td><%= link_to 'Show', expansion %></td>
    <td><%= link_to 'Edit', edit_expansion_path(expansion) %></td>
    <td><%= link_to 'Destroy', expansion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New expansion', new_expansion_path %>