<h1>Editing race</h1>

<% form_for(@race) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :ability %><br />
    <%= f.text_field :ability %>
  </p>
  <p>
    <%= f.label :faction_id %><br />
    <%= f.text_field :faction_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @race %> |
<%= link_to 'Back', races_path %>