<h1>Signup for Raid <%= @raid.code %></h1>

<% form_for([@raid, @sign_up], :action => :create) do |f| %>
  <p>
    <%= label_tag "character_name", "Character Name" %><br />
    <%= text_field_tag "character_name" %>
  </p>
  
  <p>
    <%= f.label :role_id %><br />
    <%= f.select :role_id, Role.find(:all).collect {|i| [i.name, i.id] } %>
  </p>
  
  <p>
    <%= f.submit "Sign Up" %>
  </p>
<% end %>
