<h1>Listing factions</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @factions.each do |faction| %>
  <tr>
    <td><%=h faction.name %></td>
    <td><%= link_to 'Show', faction %></td>
    <td><%= link_to 'Edit', edit_faction_path(faction) %></td>
    <td><%= link_to 'Destroy', faction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New faction', new_faction_path %>